@import url('https://fonts.googleapis.com/css2?family=Poiret+One&display=swap');


.dev-card {
    border: 1px solid rgb(179, 177, 177);
    border-radius: 20px;
    margin: 20px;
    float: left;
    font-family: 'Poiret One', cursive;
    padding:20px;
    min-width: 320px;
}

img {
    width: 150px;
    height: 150px;
}

.name {
    font-weight: bold;
    margin-bottom: 1px;
}

.meet{
    font-family: 'Poiret One', cursive;
}

.about {
    font-size: 75%;
}

.dev-card:hover,
.dev-card:focus {
    transform: scale(1.1);
    transition: transform 150ms ease-in-out;
    box-shadow: 0 0.5em 0.5em -0.4em var(--hover);
    transform: translateY(-0.25em);
}

.soft {
    font-size:18px;
    margin-top: 1px
}

a { 
    color: inherit;
    text-decoration: none;
} 

.App-header {
    background-color: transparent;
    text-align: center;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: white;
  }